/*Asterick wildcard selector used to overide styles added by default by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/*general styles*/
body {
    min-height: 100vh;
    flex: display;
    flex-direction: column;
     /*generic project styles*/
     color: green;
    }
   
   

/*header*/
header {
    background-color: darkslateblue;
}
/*main*/
main {
    background-color: lightsteelblue;
     /*make main element take up extra surplus space to push footer down*/ 
     flex: 1 0 auto;
}
    
/*Footer*/
footer {
    background-color: darkslateblue;
}
