/*google font imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

    /*font style*/
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 300 to 800
    
    .open-sans {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      font-variation-settings:
        "wdth" 100;
    }
    
    /* <uniquifier>: Use a unique and descriptive class name*/
    /* <weight>: Use a value from 100 to 900*/
    
    .montserrat {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    }

/*Asterick wildcard selector used to overide styles added by default by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
     /*generic project styles*/
     color: green;
    }



   
   

/*header*/
header {
    background-color: darkslateblue;
}
/*main*/
main {
    background-color: lightsteelblue;
     /*make main element take up extra surplus space to push footer down*/ 
     flex: 1 0 auto;
}
    
/*Footer*/
footer {
    background-color: darkslateblue;
}
